<!DOCTYPE html>
<html>
  <head>
    <title>Flash Computers</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
    	<%=image_tag'21.jpg', alt:'Laptop' %>
    	<span class="title"><%= @page_title %>
    	</span>
    </div>
    <div id="columns">
    	<div id="side">
    		<ul>
    			<li><a href="Home.html">Home</a></li>
    			<li><a href="Home.html">FAQs</a></li>
    			<li><a href="Home.html">About US</a></li>
    			<li><a href="Home.html">Contacts</a></li>>

    		</ul>
    	</div>
    	<div id="main">
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>
